/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
      height: 100%;
      margin: 0;
    }
    
    body {
      background: linear-gradient(to bottom, #acecff, #FFFFFF);
      font-family: sans-serif;
      line-height: 1.5;
      color: #000;
    }
  
  /* Header with orange-white gradient */
  .site-header {
    text-align: center;
    padding: 30px 10px;
  }
  

body {
    font-family: Arial, sans-serif;
    background-color: #acecff;
    padding: 20px;
  }
  
  .container {
    border: 2px solid #500909;
    background-color: #ffffff;
    max-width: 700px;
    margin: 20px auto; /* centers the box horizontally */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    background-color: #7e0b0b;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .close {
    background-color: #660000;
    padding: 0 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .content {
    padding: 5px;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
  }

  .site-footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #777;
    border-top: 1px solid #ccc;
  }
